@import "utils/reset";
@import url("https://fonts.googleapis.com/css?family=Inter");

.vc-colorpicker {
  box-shadow: none !important;
  width: 100% !important; 
}

.vc-colorpicker--container {
  margin-top: 20px;
    padding: 0 !important;
}

html {
  height: 100%;
}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer, // also footer if footer without section
section,
.section {
  position: relative;
  padding: 40px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    color: rgba(37, 47, 74, 1);;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 60px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    background: rgba(27, 132, 255, 1);
    min-width: 300px;
  //   @media (max-width: 412px) {
  //  width: 100%
  // }
}

.container {
  // flex: 0 0 auto;
  margin: 0 auto;
  padding-top: 30px;
  width: 100%;
  max-width: 1170px;
  font-family: Inter;
  font-weight: 400;
}

